{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <p>This is nice page, trust me! :)</p>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
