{% extends 'base.html.twig' %}

{% set bodyClass = 'apply__page' %}

{% block body %}
    <section class="bg-primary" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">Workshop schedule</h2>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
