{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="my-form-wrap" style="margin: 50px auto; border: 1px solid red; width: 300px;">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}

