{% extends 'base.html.twig' %}


{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p>Hello {{ app.user.username }}</p>
    {% endif %}

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        {% if workshops is empty %}
                            <strong>
                                Currently, there are no active workshops.
                            </strong>
                        {% else %}
                            <ul>
                                {% for workshop in workshops %}
                                    <li data-id="{{ workshop.id }}">
                                        {{ workshop.title }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded mb-5">Start changing your career path. Build better web aplications using Symfony framework! Just pay and learn, no strings attached!</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Get started</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
