{% extends 'base.html.twig' %}


{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if workshops is empty %}
            <strong>
                Currently, there are no active workshops.
            </strong>
        {% else %}
            <ul>
                {% for workshop in workshops %}
                    <li data-id="{{ workshop.id }}">
                        {{ workshop.title }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <a href="{{ path('homepage') }}">return to homepage</a>

    {% endif %}



{% endblock %}
