{% extends 'base.html.twig' %}

{% set bodyClass = 'apply__page' %}

{% block body %}
    <section class="bg-primary" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">About</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <p>This training workshops page is proof concept that two busy as hell first met people, can build symfony web application. :) TBC...</p>
            <p>we rock!</p>
        </div>
    </div>

{% endblock %}
