<section class="section__services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ title }}</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for workshop in workshops %}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">{{ workshop.title }}</h3>
                    <p class="text-muted mb-0">{{ workshop.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
