<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Currently, there are no active workshops.</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Mauris tempus ligula non justo euismod lobortis. Nullam finibus ante vitae nunc viverra, cursus
                    scelerisque lectus ultricies. Nunc blandit sapien in ex imperdiet pretium. Ut gravida mi quis leo
                    sollicitudin, ut facilisis risus mattis.
                </p>
                <a class="btn btn-light btn-xl" href="{{ path('workshop_apply') }}">Reserve your place now</a>
            </div>
        </div>
    </div>
</section>
