<h2>Hello, {{ entity.firstName }} {{ entity.lastName }}!</h2>

<h3>Wellcome to NULL Training by TEAM 3!</h3>


<p>
    Use your email as username and follow
    <a href="{{ inviteLink }}" target="_blank">this</a> link to set your password start your training.
</p>

